.App {
  text-align: center;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  
}


@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  background-color: #282c34;
  
}

#snow{
  position: fixed;
  top:0;
  margin-left: -190px;
  
}

h1, h2, p{
  color: aliceblue;
 
}

span{
  color: orange;
  font-size: x-large;
  font-family: 'Press Start 2P', cursive;
}

.whoIam{
  position: absolute;
  right: 0;
  margin-right: 600px;
  margin-bottom: 50px;
}